<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="#topbar">Ewastemandu</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href=#header>Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#clients">Companies</a></li>
        <!-- <li><a href="#portfolio">Portfolio</a></li> -->
        <li><a href="#team">Team</a></li>
     

        <li><a href="#contact">Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->

    <a href="{% url 'dashboard:dashboard' %}" class="get-started-btn scrollto">Schedule a Pickup</a>

  </div>
</header>