{% load i18n %}
{% if messages %}
  {% for message in messages %}
    {% if forloop.last or things.count == 1 %}
      <p class="text-success">
        {{ message }}
      </p>
    {% endif %}
  {% endfor %}
{% endif %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <p><span class="text-danger">{{ error }}</span></p>
  {% endfor %}
{% endif %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field.errors }}
  {{ hidden_field }}
{% endfor %}
{% if form.login.errors %}
  {% for error in form.login.errors %}
    <p class="text-danger">{% trans "Invalid Username of password" %}</p>
  {% endfor %}
{% endif %}